<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Server Test</title>
<style>
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
footer {
    color: #888;
}
</style>
</head>
<body>
<h1>Server Test</h1>
<p>Server information:</p>
<ul>
    {% for i in dbdata %}
    <li><strong>{{ i.key }}</strong>: {{ i.value }}</li>
    {% endfor %}
</ul>
<footer>Current time: {% now "c" %}</footer>
</body>
</html>
